.content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;

  &__main {
    padding-left: 16px;
    padding-right: 16px;
    margin: 20px;

    box-sizing: border-box;
  }

  // &__text {
  //   margin: 50px;
  // }
}
