
.shrine-product-card {
  margin: 0 auto;
  width: 320px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: white;
  &-card__price {
    display: block;
    text-align: right;
  }
  &__image {
    margin: 0 auto;
  }
}
