$font-size: 50px;

.align-center {
    padding-left: 20% !important;
  }
  .hero {
      margin-top: -800px;
  }
  body {
    font-family: sans-serif;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .lst ,.photo, .brdr, h1, h2, h3 {
    text-align: center;
  }
  .photo {
    background-color: white;
    display: inline-block;
    border-radius: $font-size*0.4;
  }
  img {
    margin: 5px;
     border-radius: 10px;
  }
  h1 {
    font-size: 50px;
    padding-top: 90px;	
  }
  h3 {
    font-weight: lighter;
  }
  